//
   Created by 58 on 2015/11/11.

extends jade/day2_extends
block head
   script(src='../../js/org/jquery-2.1.3.min.js')
   //script(src='/pets.js')
block content
   - var title = "白斑病白斑病w23q"
   h1= title
   //each pet in pets
   //    include pet