//
   Created by echo on 2015/11/11.

doctype html
html
    block head
        script(src='../../js/org/jquery-2.1.3.min.js')
        link(rel="styleSheet", href='../../css/base.css')
    body
        block header
        block content
        block foot

