//
   Created by echo on 2015/11/11.

extends day2_extends

block head
    script(src='../../js/org/jquery-2.1.3.min.js')
    link(rel="styleSheet", href='../../css/base.css')
    //script(src='/pets.js')
block content
    - var title = "百变变比百变"
    h1= title
    //each pet in pets
    //    include pet