//
   Created by 58 on 2015/11/11.

//如果不写 head块的话，include这个模块的时候，不能对此模块进行扩充.
head
    yield//yield的功能是， 强制使include此代码块的地方后面扩展的代码运行在此head内容之前
   script(src='../../js/org/jquery-2.1.3.min.js')
   link(rel="styleSheet", href='../../css/base.css')